
/* Link para importar a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variávies CSS */
:root {
    /* Fonte */
    --fonte1: 'poppins', 'Segoe UI', 'sans-serif', 'Arial';
    
    /* Cores padrão*/
    
    /* Clássico - Claro */
    --body-bg: #fafafa;
    --body-bg2: #dddddd;
    --body-bg3: #565656;
    --body-bg4: #6b6b6b;

    --filter-bg: #fafafa;
    --filter-bg2:#e8e8e8;

    --icon-bg: #c1c1c1;

    --body-color: #7e7e7e;
    --card-color2: #555;
    --icon-color: #555;

    --copyright-color: #555555a4;

    --nav-bg: #e1e1e1;
    --nav-shadow: #dcdcdc;

    --span-bg: #d6d6d6;

    --shadow: #434343;
    --shadow2: #4343435e;
}

/* Cores para os temas */
/* Temas escuros */

/* Clássico - Escuro */
.dark-theme:root {
    --body-bg: #0c0c0c;
    --body-bg2: #272727;
    --body-bg3: #4e4e4e;
    --body-bg4: #818181;

    --filter-bg: #242424;
    --filter-bg2:#131313;

    --icon-bg: #494949;

    --body-color: #a7a7a7;
    --card-color2: #c0c0c0;
    --icon-color: #f3f3f3;

    --copyright-color: #b9b9b9a4;

    --nav-bg: #242424;
    --nav-shadow: #505050;

    --span-bg: #3d3d3d;

    --shadow: #79797969;
    --shadow2: #94949456;
}

/* Flamingo - Escuro */
.flamingo-darktheme:root {
    /* Bg do body */
    --body-bg: #240201;
    /* Degradê para o bg do footer */
    --body-bg2: #1b0101;
    /* Cor para o bg do .info */
    --body-bg3: #f0807f;
    /* Cor para o bg do .profile */
    --body-bg4: #ee9290;
    
    /* Cores para o desvanescimento do filter */
    --filter-bg: #f9ad9d;
    --filter-bg2:#f0807f;

    /* Cor para o bg do ícone do card */
    --icon-bg: #c66161;
    
    /* Cor para o texto do body */
    --body-color: #c66161;
    /* Cor para o texto do card */
    --card-color2: #3f0808;
    /* Cor para o número do card */
    --icon-color: #240201;

    --copyright-color: #83403b;

    /* Cor para a barra de navegação */
    --nav-bg: #490b0b;
    /* Sombra para a barra de navegação */
    --nav-shadow: #ab5050;

    /* Cor para o background do span (card) */
    --span-bg: #89b3ee7c;

    /* Sombra para o card .profile */
    --shadow: #ab5050;
    /* Sombra para os cards e footer */
    --shadow2: #d57878;
}

/* Ensolarado - Escuro */
.ensolarado-darktheme:root {
    --body-bg: #120C07;
    --body-bg2: #ad5d0c;
    --body-bg3: #8b4f1e;
    --body-bg4: #bb5d00;

    --filter-bg: #120C07;
    --filter-bg2: #663000;

    --icon-bg: #361b02;

    --body-color: #db843d;
    --card-color2: #b16221;
    --icon-color: #b16221;

    --copyright-color: #ac631f;

    --nav-bg: #2c1702;
    --nav-shadow: #582701;

    --span-bg: #522c06cc;

    --shadow: #757575;
    --shadow2: #582701;
}

/* Marino - Escuro */
.marino-darktheme:root {
    --body-bg: #070912;
    --body-bg2: #0c75ad;
    --body-bg3: #0a3a74;
    --body-bg4: #1a2073;

    --filter-bg: #070712;
    --filter-bg2: #070812;

    --icon-bg: #0c0236;

    --body-color: #3d9fdb;
    --card-color2: #21b18b;
    --icon-color: #213eb1;

    --copyright-color: #3d9fdb8a;

    --nav-bg: #0f022c;
    --nav-shadow: #011258;

    --span-bg: #013a897c;

    --shadow: #64746b;
    --shadow2: #170158;
}

/* Temas claros */

/* Flamingo - Claro */
.flamingo-lighttheme:root {
    --body-bg: #FEDDDC;
    --body-bg2: #edcbca;
    --body-bg3: #80110F;
    --body-bg4: #a63533;

    --filter-bg: #E5B4B3;
    --filter-bg2: #d39897;

    --icon-bg: #bc5656;

    --body-color: #80110F;
    --card-color2: #80110F;
    --icon-color: #FEDDDC;

    --copyright-color: #83403b;

    --nav-bg: #f0b8b7;
    --nav-shadow: #e68686;

    --span-bg: #a9c8f387;

    --shadow: #4d100f;
    --shadow2: #bc5656;
}

/* Ensolarado - Claro */
.ensolarado-lighttheme:root {
    --body-bg: #dbaa7f;
    --body-bg2: #fc8914;
    --body-bg3: #b4691e;
    --body-bg4: #492101;
    
    --filter-bg: #f3c58f;
    --filter-bg2:#a85201;

    --icon-bg: #ffbd7b;
    
    --body-color: #532c00;
    --card-color2: #55290f;
    --icon-color: #ca8e49;

    --copyright-color: #743807;

    --nav-bg: #d88c4e;
    --nav-shadow: #6b3600;

    --span-bg: #ad590681;
    
    --shadow: #793003;
    --shadow2: #75380a;
} 

/* Marino - Claro */
.marino-lighttheme:root {
    --body-bg: #7fdbd3;
    --body-bg2: #14d1fc;
    --body-bg3: #22a5c5;
    --body-bg4: #1b3e85;
    
    --filter-bg: #8ff3dc;
    --filter-bg2:#011aa8;
    
    --icon-bg: #63b1e1;

    --body-color: #1b3e85;
    --card-color2: #00176b;
    --icon-color: #00176b;

    --copyright-color: #220774a7;
    
    --nav-bg: #4ea3d8;
    --nav-shadow: #00176b;

    --span-bg: #1c62c497;
    
    --shadow: #0f0379;
    --shadow2: #0a4c75;
} 


/* Aplicado a todos os componentes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

/* Aplicado ao body */
body {
    background-color: var(--body-bg);
    color: var(--body-color);
    transition: .5s;
}

/* Header */

/* Barra de navegação */
.btn {
    height: 4.5em;
    width: 100%;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: flex-end;
    padding: 0px 60px 0px 60px;
    box-shadow: 3px 3px 14px var(--nav-shadow);
    gap: 22px;
    align-items: center;
    color: var(--body-color);
    transition: .6s;
}

/* img#logo (manipula a imagem com id "logo" - logo do site) */
.btn img#imgLogoSrc {
    position: absolute;
    width: 125px;
    height: 120px;
    top: 15px;
    left: 60px;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

/* Div responsável por manter o menu suspenso em uma unica posição. */
.dropdown_menu {
    position: relative;
    display: inline-block;
    gap: 30px;
}

.dropdown_menu > .themes:hover {
    cursor: pointer;
}

/* Div responsável pelo conteúdo */
.dropdown_content {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 160px;
    box-shadow: 3px 3px 14px var(--nav-shadow);
    z-index: 1;


    width: 300px;
    height: 350px;
    border-radius: 25px;
    background-color: var(--body-bg);
    transform: translate(-44.5%,4.8%);
    padding: 20px;
    gap: 8px;
}

/* Botões que representam cada tema */
.dropdown_content button {
    color: var(--body-color);
    padding: 12px 16px;
    display: block;
    font-size: 16px;
    background: transparent;
    border-radius: 15px;
    width: 130px;
}

.dropdown_content button:hover {
    background-color: var(--body-bg2);
}

/* Classe que será atribuida quando o menu for ativado */
.show {
    display: flex;
    flex-direction: row;
}

/* PopUp */
.popup {
    visibility: hidden;
    width: 160px;
    background-color: var(--body-bg2);
    color: var(--body-bg3);
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 70%;
    left: 50%;
    margin-left: -80px;
}

.popupshow {
    visibility: visible;
}

/* user-space (contém foto de usuário e suas informações) */
.btn > .user-space {
    display: flex;
    align-items: center;
    gap: 10px;
}

#imagem {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--button-color);
    border: 3.5px solid var(--body-color);
}

/* Barra do usuário */
.btn > .user-space > .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--body-bg);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 90px 0px 35px 0px;
    font-size: 18px;
    flex-wrap: nowrap;
}


/* p (parágrafo do user-space) */
.btn > .user-space > #userbar > p,
.btn > .user-space > #userbar > label {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* a (link do user-space) */
.btn > .user-space > .sidenav > a#closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 35px;
    color: var(--body-bg);
    background-color: var(--body-bg3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ao posicionar o cursor no botão de fechar... */
.btn > .user-space > .sidenav > a#closebtn:hover {
    background-color: var(--body-bg4);
}

/* Ao focar no botão de fechar... */
.btn > .user-space > .sidenav > a#closebtn:focus {
    rotate: 100deg;
    transition: .3s;
}

/* Manipula o perfil da side bar (foto de usuário, nome) */
.btn > .user-space > .sidenav > .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 18px;
}

/* Manipula a foto do perfil */
.btn > .user-space > .sidenav > .profile > img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid var(--body-color);
}

/* Manipula a posição das opções no perfil */
.btn > .user-space > .sidenav > .options {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0 50px;
    gap: 20px;
    font-size: 17px;
}

.btn > .user-space > .sidenav > .options > p:hover,
.btn > .user-space > .sidenav > .options > label:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: .3s;
}

/* Botão logout na barra lateral */
.btn > .user-space > .sidenav > button {
    margin: 0 0 0 50px;
    left: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    right: 0;
    font-size: 15px;
    bottom: 100px;
    position: absolute;
}


/* Parágrafo com a versão da página web */
.btn > .user-space > .sidenav > .version {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    right: 35%;
    color: var(--copyright-color);
}


.mascara{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.isclose{
    display: none;
}

/*Imagem de perfil e derivados:*/
#arquive  {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

#btnimg:hover {
    border-radius: 10px;
    padding: 3px;
    color: var(--text-color);
    background-color: var(--button-color);
}
/* Tentativa de animação quando passar o cursor por cima */
/* .btn button::after {
    content: '';
    width: 0%;
    height: 5px;
    background-color: #565656;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
}

.btn button:hover::after {
    transform: scaleX(1);
} */

/* Aplicado para todos os botões */
button {
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--body-color);
}

/* Quando o cursor passar por cima, mudará para "pointer" */
button:hover {
    cursor: pointer;
}


/* Main */

/* Invólucro que contém o container */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

/* Contém os cards */
.container {
    width: 100vw;
    flex-wrap: nowrap;
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: center;
}

/* Cartões animados */
.card {
    width: 90px;
    height: 600px;
    border-radius: 50px;
    color: var(--card-color2);
    /* Faz com que a imagem cubra completamente o background sem repetição*/
    /* background-size: cover; */
    cursor: pointer;
    overflow: hidden;
    transition: .6s cubic-bezier(.50, -0.03, 0.50, .99);
    margin: 0 8px;
    box-shadow: 6px 6px 20px var(--shadow2); 
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* Modificações background */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

/* Card (com id #c1) */
#c1 {
    background-image: url(/img/photos/ra-photo.jpg);
    background-color: #CFD6DE;
}

/* Card (com id #c2) */
#c2 {
    background-image: url(/img/photos/adrian-photo.jpeg);
    background-color: #faecdf;
}

/* Card (com id #c3) */
#c3 {
    background-image: url(/img/photos/Samuel.png);
    background-color: #faecdf;
}

/* Card (com id #c3) */
/* #c3 {
    background-image: url(/img/jumento2.jpg);
    background-color: #f08c44;
} */

/* Filter (desvanecimento da imagem) */
.card > .filter {
    width: 1100px;
    height: 600px;
    background-image: linear-gradient(90deg, transparent, transparent, var(--filter-bg), var(--filter-bg), var(--filter-bg2));
    /* background-image: linear-gradient(90deg, transparent, transparent, #262626d9, #262626, #262626); */
}

/* Row (conteúdo total do card) */
.card > .filter > .row {
    flex-wrap: nowrap;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 600px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

/* Icon (número do card) */
.card > .filter > .row > .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--icon-bg);
    color: var(--icon-color);
    position: absolute;
    bottom: 20px;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

/* Description (descrição de cada participante) */
.card > .filter > .row > .description {
    width: 530px;
    overflow: hidden;
    padding: 40px 50px 0 50px;
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 15.5px;
    gap: 12px;
}

/* Deixa o texto da classe "about" em itálico */
.card > .filter > .row > .description > .about {
    font-style: italic;
}

/* Margem lateral para as listas da descrição */
.list {
    margin-left: 18px;
}

span {
    background-color: var(--span-bg);
    border-radius: 5px;
    transition: .3s;
}

h2 {
    display: flex;
    justify-content: flex-start;
}

/* Tira a caixa de marcação do input */
input {
    display: none;
}

/* Quando o imput for selecionado, a largura da label muda para 600px */
input:checked + label {
    width: 1100px;
}

/* Quando o imput for selecionado, a description da label tem opacidade 1 e anima */
input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* .card[for="1"] {
    background-image: url(https://img.freepik.com/fotos-gratis/feliz-bonito-mulher-jovem-posar-camera-em-parque-cidade_1262-19158.jpg);
} */

/* Informações sobre os alunos / formas de contato */
.info {
    width: 99.5vw;
    height: 33em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 70px;
    background-color: var(--body-bg3);
}

/* Profile (perfil de cada aluno) */
.info > .profile {
    height: 450px;
    width: 300px;
    text-align: center;
    /* gap:20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    transition: .4s;
    color: var(--body-bg);
}

.info > .profile:hover {
    background-color: var(--body-bg4);
    transform: scale(1.1);
    box-shadow: 3px 3px 20px var(--shadow);
    transition: .4s;
}

/* Photo (modifica as propriedades de cada foto dos alunos */
.info > .profile > .photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 18px;
    object-fit: cover;
}

/* p (parágrafo do perfil) */
.info > .profile > p {
    margin: 8px;
    font-size: 15px;
}

.info > .profile > .curso {
    margin-top: 0;
    margin-bottom: 16px;
    font-style: italic;
}

/* social (contém as âncoras para as redes sociais de cada aluno */
.info > .profile > .social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Torna os elementos da classe invisíveis */
.invisible {
    opacity: 0;
    pointer-events: none;
}

/* Barra de rolagem transparente */
::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    border-radius: 20px;
    background-color: #00000041;
}

/* Thumb da barra de rolagem com cor e arredondado */
::-webkit-scrollbar-thumb {
    background-color: var(--body-color);
    border-radius: 20px;
}

/* Footer */

/* Barra inferior com notas sobre o projeto */
.notes {
    height: 7em;
    width: 100%;
    background-image: linear-gradient(90deg, var(--nav-bg), var(--body-bg2));
    padding: 0px 60px 0px 60px;
    box-shadow: 3px 3px 20px var(--shadow2);
    gap: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
    gap: 6px;
    text-align: center;
}

/* Description (descrição das notas) */
.notes > .description {
    font-size: 14px;
}

/* Copyright */
.notes > .description > .copyright {
    font-size: 13px;
    color: var(--copyright-color);
}
